.perfum__section {
  background: linear-gradient(#212245b2, #212245b2),
    url("../../../assets/images/perfume.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 220px 0px;
   
}
@media only screen and (max-width: 768px) {
  .perfum__section {
    padding: 120px 0px;
  }
}