.house_ware {
    text-align: center;
}
.house_ware .pro {
    min-width: 250px;
    border-radius: 25px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    padding: 10px 12px;
    transition: .3s;
    cursor: pointer;
    margin: 15px 0;
    position: relative;
}
@media (max-width:799px) {
    .house_ware .pro {
        margin: 15px ;
    }
}
.house_ware .pro:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06) !important
}
.house_ware .pro img {
    width: 100%;
    border-radius: 20px;
}
.house_ware .pro .des {
    text-align: start;
    padding: 10px 0;
}
.house_ware .pro .des h3 a {
    color: var(--title);
}
.house_ware .pro .des span {
    font-size: 12px;
    color: #606063;
}
.house_ware .pro .des h5 {
    font-size: 16px;
    padding-top: 7px;
    color: #1a1a1a;
}

.house_ware .pro .des i {
    color: rgb(243,181,25);
    font-size: 14px;
}
.house_ware .pro .des h4 {
    color: #088178;
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}
.house_ware .pro .fa-cart-shopping  {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #cce7d0;
    right: 10px;
    bottom: 20px;
    color: #088178;
    background-color: #e8f6ea;
    cursor: pointer;
}