@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');


:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --body: rgb(28 32 39);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --container-padding: 4.8rem;
  --bgColor : rgb(24 24 27);
  --navtitle: rgb(93, 188, 252);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
  --borderHeader: #bce3c9;
  --searchIcon: #fff;
  --buttonHover:rgb(93, 188, 252);
  --borderTitle: #fff;
  --svgproducthover:rgb(93, 188, 252);
  --productbutton: #fff;
  --teamMember:rgb(28 32 39);
  --skills : rgb(24 24 27);
  --login : rgb(24 24 27);
  --iron : rgb(28 32 39);
  --profile : rgb(28 32 39);
  --profileborder : rgb(24 24 27);
  --profileborderhover : rgba(63, 63, 70, 0.4);
  --quickDraft : rgb(28 32 39);
  --bgcounter: rgb(24 24 27);
  --filter: #fff;
  --filterBorder: #ececec;
  --filterhover: rgb(93, 188, 252);
  --borderProduct: #f1f1f1;
  --footerIcon : #000000;
  --rehabproduct: rgb(28 32 39);
  --start: #3bb77e;
  --gamePrice: #fff;
  --hero-bg: rgb(24 24 27);
  --auction-color: #fff;
}

.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --body: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);
  --bgColor : #ececec;
  --borderTitle: rgba(202, 202, 202, 0.518);
  --title: rgb(39 39 42);
  --navtitle: rgb(39 39 42);
  --subtitle: rgb(82 82 91);
  --borderHeader: #bce3c9;
  --bgHeader: rgb(253, 253, 253);
  --searchIcon: #000;
  --buttonHover:#f1f1f1;
  --blue: rgb(0, 149, 246);
  --svgproducthover:#3bb77e;
  --productbutton: #f1f1f1;
  --teamMember:#ececec;
  --skills : #EEE;
  --login : #f1f1f1;
  --iron : #f1f5f9;
  --profile : #fff;
  --profileborder : #eee;
  --profileborderhover : #f9f9f9;
  --quickDraft : #eee;
  --bgcounter: #0a1d37;
  --filter: #BCE3C9;
  --filterBorder: rgba(0,0,0,0.050);
  --filterhover: rgba(1, 1, 1, 0.2);
  --borderProduct: rgba(0,0,0,0.2);
  --footerIcon : rgb(0, 149, 246);
  --rehabproduct: rgba(0,0,0,0.2);
  --start: rgb(93, 188, 252);
  --gamePrice:rgb(24 24 27);
  --hero-bg: #d6e5fb;
  --auction-color: #0a1d37;
   

}

body {
  background-color: var(--body);
  color: #fff;
}
.flex {
  display: flex;
  align-items: center;
}
*{margin: 0px; padding: 0px; box-sizing: border-box;}
body{font-family: 'Lato', sans-serif; font-size: 22px;}
.container-fluid{padding: 0px 45px;}

.no-click{pointer-events: none !important;}

.transition{transition: all 0.3s ease-in-out;}
.cursor{cursor: pointer;}
.btn{border-radius: 8px !important;}
.btn-border{border: 1px solid rgba(0,0,0,0.1) !important; padding: 10px 25px !important; border-radius: 5px !important; color: #000 !important;}
.btn-border svg{opacity: 0.5;}
.btn-border:hover{border: 1px solid #3bb77e !important; background: #3bb77e !important; color: #fff !important;}
.btn-border:hover svg{opacity: 1 !important;}
.btn-g a{color: #fff !important; text-decoration: none !important;}
.btn-g{background: #3bb77e !important; padding: 10px 25px !important; border-radius: 5px !important; color: #fff !important; text-transform: capitalize !important; font-size: 18px !important;}
.btn-g:hover{background: #FDC040 !important;}
.btn-lg{font-size: 24px !important; padding: 10px 25px !important;}
.bg-g,.bg-success{background: #3bb77e !important;}
.text-g{color: #3bb77e;}
.text-org{color: #FDC040 !important;}
.text-light{color: #8b8b8b !important;}
p{color: #7E7E7E;}

.hd{font-size: 38px; font-weight: 600; margin-bottom: 25px;}
.price{font-size: 25px; margin-right: 20px;}
.oldPrice{font-size: 20px; opacity: 0.6; color: #000; text-decoration: line-through;}
.sidebarWrapper .sidebar .card{padding: 25px; border-radius: 10px !important; margin-bottom: 40px; background-color: var(--secondary);}
.sidebarWrapper .sidebar .card h3 {
  color: var(--title);
}
.sidebarWrapper h3:before {
  background: var(--svgproducthover) !important;
}
.sidebarWrapper .sidebar .card .catList a{text-decoration: none;}
.sidebarWrapper .sidebar .card .catList .catItem{ padding: 10px; border: 1px solid var(--filterBorder); cursor: pointer; margin: 10px 0px; border-radius: 4px; transition:all 0.3s ease-in-out}

.sidebarWrapper .sidebar .card .catList .catItem h4{margin-left: 12px ; margin-right: 12px; color: var(--title) !important; font-size: 18px; }
.sidebarWrapper .sidebar .card .catList .catItem .rounded-circle{margin-left: auto; background: var(--filter); width: 40px; height: 40px;}
.sidebarWrapper .sidebar .card .catList .catItem:hover{border: 1px solid var(--filterhover);}
.details_rate {
  margin-top: 13px;
  margin-bottom: 13px;
}
.priceRange span{font-size: 20px; color: var(--title);}

.filters{padding: 25px 0px;}
.filters h5{font-weight: 600; margin-bottom: 10px; color: var(--title);}
.filters ul{max-height: 200px; overflow-y: scroll; margin-left: -10px;}
.filters ul::-webkit-scrollbar{width: 10px !important;}
.filters ul::-webkit-scrollbar-thumb{ background: #ccc !important;}
.filters ul li{width: 100%; margin-bottom: 0px; list-style: none; color: var(--title);}
.css-hyxlzm {
   color: var(--title);
}

.filterWrapper{display: none !important;}
.sidebarWrapper .sidebar  .btn{width: 100% !important; }
 



.breadcrumbWrapper{width: 100%; height: auto; padding: 30px 0px;  
  border-bottom:1px solid rgba(0,0,0,0.1) !important ;}
.breadcrumb2{background: none !important; padding: 0px !important;}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #3bb77e;
  text-decoration: none !important;
}
ul.breadcrumb li a:hover {
  color: #3bb77e;
  text-decoration: underline;
}



  
.detailsContainer{max-width: 85%; margin: auto; padding: 30px 0px;}
.detailsPage {
  zoom: 65%;
}
  
.detailsPage .productInfo{padding-left: 80px;}
.detailsPage .productInfo h1{font-size: 55px; font-weight: bold; opacity: 0.8; color: var(--title);}
.detailsPage .productInfo .rev {
  padding-left: 8px;
}
  .detailsPage .productInfo .priceSec .priceLarge{font-size: 70px; font-weight: bold;}
  .detailsPage .productInfo .priceSec .price {
    padding-left: 12px;

  }
  .breadcrumb li {
    color: var(--searchIcon);
  }
  .detailsPage .productInfo .priceSec .text-org{font-size: 22px; font-weight: 600;}
  .detailsPage .productInfo .priceSec .text-light.oldPrice{font-size: 30px; font-weight: 600;}

  .productZoom{ width: 100%; height: auto; border: 1px solid rgba(0,0,0,0.1); padding: 0px; overflow: hidden; border-radius: 15px;}
  .zoomSliderBig{width: 100% !important;}


  .zoomSlider{padding-top: 30px;}
  .zoomSlider .slick-slide { padding-right: 20px !important;}
  .zoomSlider *{outline: none !important;}
  .zoomSlider .item{border: 2px solid transparent !important; overflow: hidden; border-radius: 15px; cursor: pointer;}
  .zoomSlider .slick-current .item{border: 2px solid #3bb77e !important; }
  .zoomSlider .slick-arrow{top: 55% !important; zoom: 80% !important; position: absolute;}
    .slick-arrow {
      position: absolute;
      top: 47%;
      width: 60px !important;
      height: 60px !important;
      border-radius: 50% !important;
      background: #F2F3F4 !important;
      z-index: 10 !important;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .slick-arrow:hover {
      background: #3bb77e !important;
      
  }
  
  .zoomSlider .slick-arrow.slick-next{right: -2% !important;}
  .zoomSlider .slick-arrow.slick-prev{left: -5% !important;}
  .slick-next:before {
    content: "\f105" !important;
    font-family: FontAwesome !important;
    font-size: 30px !important;
    color: #000 !important;
    display: flex;
    text-align: center !important;
    justify-content: center;
  }
  
  .slick-prev:before {
    content: "\f104" !important;
    font-family: FontAwesome !important;
    font-size: 30px !important;
    color: #000 !important;
    display: flex;
    text-align: center !important;
    justify-content: center;
  }
  .slick-prev {
    left: 0px !important;
}
  .productSize{width: 100%; height: auto; padding: 25px 0px; margin-bottom: 25px;}
  .productSize ul {
    margin-bottom: 0;
    padding-left: 16px;
  }
  .productSize ul li{margin-right: 10px !important;}
  .productSize ul li a{font-size: 20px !important; display: flex; align-items: center; justify-content: center; padding:10px 20px !important; border: 1px solid rgba(0,0,0,0.1); border-radius: 5px !important; cursor: pointer; text-decoration: none !important; color: #000; transition: all 0.1s ease-in-out;}
   
  .productSize ul li a.active{background: #3bb77e !important; color: #fff !important;}
.btn_ .add_cart {
  font-size: 25px !important; color: #3bb77e !important; padding: 7px 25px !important; background: #def9ec !important; text-transform: capitalize !important; margin-right: 12px;
}
.btn_ .add_cart:hover{background: #3bb77e !important;
  color: #fff !important;}

  .btn_ .btn_1 {
    margin-left: 12px;
    color: #3bb77e !important;
    background-color: #ececec
     
  }
  .btn_ .btn_2 {
    margin-left: 14px;
    color: #3bb77e !important;
    background-color: #ececec
  }
  .btn_ .btn_1:hover,
  .btn_ .btn_2:hover{
    color: #fff !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .addtocartbtn svg{font-size: 28px !important;}

  .addCartSection button{height: 60px; min-width: inherit !important;}
  .addCartSection button svg{font-size: 30px !important;}
  

.card{border-radius: 10px !important; background-color: var(--body);}
.card .info {
  padding-left: 20px;
}

  .detailsPageTabs{border-radius: 25px !important; background-color: var(--secondary);}

  .customTabs ul li{margin-right: 30px !important; }
  .customTabs ul li button{padding: 10px 25px !important; border: 1px solid var(--borderProduct) !important; font-size: 20px !important; text-transform: capitalize !important; border-radius: 30px !important; color: var(--title) !important;}

  .customTabs ul li button.active-tab{color: #3bb77e !important;}
  .tabContent h3 {
    color: var(--title);
  }
  .tabContent p {
    color: var(--title);
    font-size: 25px;
  }
  .reviewsCard{margin-bottom: 25px !important; display: flex; flex-wrap: wrap; background-color: var(--secondary);}
  .reviewsCard .image{width: 100px;}
  .reviewsCard  .info{width: 85%;}
  @media only screen and (max-width: 768px) {
    .text-light {
      font-size: 15px;
      margin-right: 4px;
    }
    .rate_fill {
      font-size: 20px !important;
      margin-left: 3px;
    }
  }

  .reviewForm .form-group{margin-bottom: 25px;}
  .reviewForm .form-group .form-control{height: 80px; font-size: 20px; border-radius: 7px !important; padding-left: 20px;}
  .reviewForm .form-group textarea.form-control{height: 200px; padding-top: 25px;}
  .reviewBox {
    padding-left: 20px;
  }
  .reviewBox .rate {
    padding-left: 12px;
    font-size: 18px;
    color: var(--title);
  }
  
  .progressBarBox{margin-bottom: 10px; padding: 10px;}
  .progressBarBox .rate {
    margin-right: 12px;
  }
  .progress-bar{font-size: 16px;}
  .relatedProducts  .item {
    padding: 15px 5px;
    padding-right: 25px !important;
    margin-bottom: 50px;
}
.loader{position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 10000; background: #fff; display: flex; align-items: center; justify-content: center;}
.filterTab li {
  margin-left: 10px !important;
  position: relative;
}
.filterTab li a {
  color: var(--title);
  text-decoration: none;
  font-size: 17.5px !important;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-weight: 700;
}